html,
body {
  height: auto;
  margin: 0;
  width: 100%;
  background: white url('/media/images/devushka_trava_gorod_213102_3840x2160.jpg');
  background-size: auto ;
  background-repeat: repeat;
}

.container-nav {
  display: flex;
  height: 50px;
  width: auto;
  background-color: rgb(40, 12, 104);
  align-items: center;
}

.logo {
  background: yellow;
  font-size: 30px;
  margin-left: 50px;
}

.text-logo {
  text-decoration: none;
}

.navigation {
  padding-left: 20px;
}
li {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
  font-size: 20px;
}

.text-navigation {
  text-decoration: none;
  color: yellow;
}

.user-container {
  margin-left: auto
}

.user {
  text-decoration: none;
  color: yellow;
}

.container {
  display: flex;
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: nowrap;
  justify-content: center;
}

.side-left {
  background-color: rgb(40, 12, 104, 0.5);
  border-radius: 20px;
  text-decoration: none;
  width: 20%;
  margin-left: 20px;
  margin-right: 50px
}


.list-category {
  text-decoration: none;
  color: yellow;
  margin-bottom: 10px;
  
}

.title-category {
  font-size: 30px;
  color: chocolate;
  margin-bottom: 50px;
  margin-top: 20px;
}
.category-descriptions {
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  color: white;

}
.url-category {
  text-decoration: none;
  color: yellow;
}
.side-right {
  background-color: rgb(40, 12, 104, 0.5);
  border-radius: 20px;
  text-decoration: none;
  width: 70%;
}

.ul-category {
  margin: auto;
  padding-left: 0px;
}

.title_post {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}

.title_text {
  text-decoration: none;
  font-size: 30px;
  color: yellow;
}

.content_post {
  text-decoration: none;
  font-size: 25px;
  color: white;
}
.categories_post {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 20px;
  color: chocolate;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(40, 12, 104);
  color: yellow;
}

.footer {
  font-size: 10px;
  text-align: center;
}

hr {  
  height: 10px;
  background: rgb(7, 221, 157);
  border-radius: 20px;
} 

.post-content {
  margin-left: 100px;
  margin-right: 100px;
}

.title_detail {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  text-decoration: none;
  font-size: 30px;
  color: yellow;
}

.content_detail {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  color: white;
}

.created_date_author {
  color: orange;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
.created_date {
  margin-bottom: 20px;
  float: left;
}

.block_comment {
  display: flex;
  flex-direction: column;
}
.comment_user {
  background-color: rgb(40, 12, 104, 0.8);
  padding-top: 20px;
}
.text_user {
  text-decoration: none;
  color:orange;
  font-size: 20px;
  font-weight: 600;
}
.comment_text {
  background-color: rgb(40, 12, 104, 0.8);
}
.text_comment {
  text-decoration: none;
  color:rgb(0, 255, 149);
  font-size: 20px;
  font-weight: 600;
}
.comment_time {
  background-color: rgb(40, 12, 104, 0.8);
}