{% extends 'flatpages/default.html' %}

{% block title %}
Категории
{% endblock title %}

{% block content %}
{% for category in categories %}
<br><div class="title-category"><h2><a href="{{category.slug}}">{{ category.name }} : {{category.rating}}</a></h2></div>
<div class="category-descriptions">{{category.descriptions}}</div>
{% endfor %}
{% endblock content %}
{% block side %}
    <div class="list-category">
        <div class="title-category">Жанры</div>
        {% for category in categories %}
        <ul class="ul-category">
            <li><a class="url-category" href="#">{{ category.name }}<br></a>
            </li>
        </ul>
        {% endfor %}
    </div>
{% endblock side %}