{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load thumbnail %}
{% block title %}
NewsPortal - Статья
{% endblock title %}

{% block content %}
    {% if ARTS  %}
        {% for ART in ARTS %}
            <div class="title_post"><a class="title_text" href="/{{ ART.slug }}">{{ ART.title }}</a></div>
            {% thumbnail ART.image "820x300" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" hspace="50" vspace="50">
            {% endthumbnail %}
            <div class="content_post">{{ ART.content|truncatewords:10 }}</div>
            <div class="categories_post"><a>Жанр:
                {% for category in ART.category.all %}
                     |{{ category.name }}
                {% endfor %}</div>
            <hr>

        {% endfor %}
    {% else %}
        <h2> Статей нету </h2>
    {% endif %}
    {# Пагинация #}
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
{# Текущая страница #}
    {{ page_obj.number }}
{# Следущая страница #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
     {% endif %}
{% endif %}
{% endblock content %}
{# Кэширование side #}
{% load cache %}
{% cache 600 side %}
{% block side %}
    <div class="list-category">
        <div class="title-category">Жанры</div>
        {% for category in list_categories %}
        <ul class="ul-category">
            <li>{{ category.name }}<br>
            </li>
        </ul>
        {% endfor %}
    </div>
{% endblock side %}
{% endcache %}