{% extends 'flatpages/default.html' %}

{% block title %}
Посты
{% endblock title %}

{% block content %}
    <h1>Статья</h1>
    <h3> {{ time_now|date:'M d Y' }} </h3>
    <h3> {{ next_posts|default_if_none:"Скоро будет новая статья!" }} </h3>
    {% if ARTS  %}
        <table>
            <tr>
                <td>Title</td>
                <td>Content</td>
                <td>Theme</td>
                <td>Author</td>
            </tr>
            {% for ART in ARTS %}
            <tr>
                <td>{{ ART.title }}</td>
                <td>{{ ART.content|truncatechars:5 }}</td>
                <td>{{ ART.category }}</td>
                <td>{{ ART.author }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2> Новостей нету </h2>
    {% endif %}

{% endblock content %}