{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load thumbnail %}
{% load i18n %}
{% block title %}
    {% trans 'HomePage' %}
{% endblock title %}
{% block search %}
<!--Начало фильтра для постов-->
<div class="filter-post">
    <form  action="" method="get">
        {{ filterset.form.title }}
        <input class="filter-button" type="submit" value="{% trans 'Найти' %}" />
    </form>
</div>
<!--Конец фильтра для постов-->
{% endblock search %}
{% block content %}
    {% if posts  %}
        {% for post in posts %}
            <article class="post">
                <!--Начало картинки поста-->
                {% thumbnail post.image "820x300" crop="center" as im %}
                <img class="post-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" hspace="50" vspace="50">
                {% endthumbnail %}
                <!--Конец картинки поста-->
                <!--Начало заголовка поста-->
                <div class="title_post">
                    <a class="title_text" href="{% url 'PostDetail' post.pk post.slug %}">
                        <h1>{{ post.title|truncatechars:40 }}</h1>
                    </a>
                </div>
                <!--Конец заголовка поста-->
                <!--Начало описание поста-->
                <div class="content_post">
                    <p>
                        {{ post.content|truncatechars:250 }}
                    </p>
                    <p>
                        Дата публикации: {{ post.date}}
                    </p>
                </div>
                <!--Конец описание поста-->
                <!--Начала категории поста-->
                <div class="categories_post">
                    <a>Жанр:
                {% for category in post.category.all %}
                    |{{ category.name }}
                {% endfor %}
                </div></a>
                <!--Конец категории поста-->
            </article>
        {% endfor %}
    {% else %}
        <h2> Постов нету </h2>
    {% endif %}<h3>
{% endblock content %}
{% block side %}
    <!--Начало списка категорий-->
    <div class="title-category">Жанры</div>
    <ul class="ul-category">
        {% for category in list_categories %}
        <li >
            <a class="url-category" href="{% url 'ListPostsInCategory' category.pk category.slug %}">
                {{ category.name }}<br>
            </a>
        </li>
    </ul>
    {% endfor %}
    <!--Конец списка категорий-->
{% endblock side %}