{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load thumbnail %}
{% block title %}
Главная страница
{% endblock title %}
{% block content %}
<!--   <form  action="" method="get">-->
<!--       <label class="text-field__label">{{ filterset.form.as_p }}</label>-->
<!--       <input class="text-field__input" type="submit" value="Найти" />-->
<!--   </form>-->
    {% if posts  %}
        {% for post in posts %}
            <h3><a class="" id="title_id" href="/{{post.pk}}">{{ post.title }}</a></h3>
            {% thumbnail post.image "820x300" crop="center" as im %}
                <img class="post-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" hspace="50" vspace="50">
            {% endthumbnail %}
            <h3>{{ post.content|truncatewords:10 }}</h3>
                 <h4><a>Жанр:
                {% for category in post.category.all %}
                     |{{ category.name }}
                {% endfor %}
                     </a>
                 </h4>
            <hr>
        {% endfor %}

    {% else %}
        <h2> Постов нету </h2>
    {% endif %}
{# Пагинация #}
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
{# Текущая страница #}
    {{ page_obj.number }}
{# Следущая страница #}
{% if page_obj.has_next %}
     <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
     {% if paginator.num_pages != page_obj.next_page_number %}
          ...
          <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
     {% endif %}
{% endif %}

{% endblock content %}

{% block menu %}
{% for category in categories %}
<a class="nav-m" id="menu_cat" href='#'>{{ category.name }}</a>
{% endfor %}
{% endblock menu %}