{% extends 'flatpages/default.html' %}

{% block title %}
Посты
{% endblock title %}

{% block content %}
    <h1>Новости</h1>
    <h3> {{ time_now|date:'M d Y' }} </h3>
    <h3> {{ next_posts|default_if_none:"Скоро будут новости!" }} </h3>
    {% if NEWS  %}
        <table>
            <tr>
                <td>Title</td>
                <td>Content</td>
                <td>Theme</td>
                <td>Author</td>
            </tr>
            {% for NS in NEWS %}
            <tr>
                <td>{{ NS.title }}</td>
                <td>{{ NS.content|truncatechars:5 }}</td>
                <td>{{ NS.category }}</td>
                <td>{{ NS.author }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2> Новостей нету </h2>
    {% endif %}

{% endblock content %}