{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load thumbnail %}
{% block title %}
NewsPortal - Новости
{% endblock title %}

{% block content %}
    {% if NEWS  %}
        {% for NS in NEWS %}
        <hr>
            <h3>{{ NS.title }}</h3>
            {% thumbnail NS.image "820x300" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" hspace="50" vspace="50">
            {% endthumbnail %}
            <h6>{{ NS.content }}<h6>

        {% endfor %}
    {% else %}
        <h2> Новостей нету </h2>
    {% endif %}

{% endblock content %}