{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load thumbnail %}
{% block title %}
NewsPortal - Новости
{% endblock title %}

{% block content %}
    {% if NEWS  %}
        {% for NS in NEWS %}
            <h3><a class="" id="title_id" href="/{{ NS.pk }}">{{ NS.title }}</a></h3>
            {% thumbnail NS.image "820x300" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" hspace="50" vspace="50">
            {% endthumbnail %}
            <h3>{{ NS.content }}<h3>
            <hr>

        {% endfor %}
    {% else %}
        <h2> Новостей нету </h2>
    {% endif %}

{% endblock content %}