{% extends 'flatpages/default.html' %}
{% load thumbnail %}
{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
<div id="title_id_detail">{{ POST_DETAIL.title }}</div>
<div class="content_detail">
{% thumbnail POST_DETAIL.image "1000x500" crop="center" as im %}
<img class="post-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" hspace="50" vspace="50">
{% endthumbnail %}
</div>
<div>
    <h3>{{ POST_DETAIL.content }}</h3>
</div>
<br>
<div>
    <h3>Публикация: {{ POST_DETAIL.date }}</h3>
    <h3>Автор: {{ POST_DETAIL.author }}</h3>
</div>
{% endblock content %}