{% extends 'flatpages/default.html' %}

{% block title %}
Subscriptions
{% endblock title %}
{%  block nav %}
<div class="user-container">
    <ul>
        {% if request.user.is_authenticated %}
        <li><a class="user" href="{% url 'PostCreate' %}">| Создать пост</a></li>
        <li><a class="user" href="{% url 'subscriptions' %}">| Подписки</a></li>
        <li><a class="user">| {{ user.username }} |</a></li>
        <li><a class="user" href="{% url 'account_email' %}">Настройки | Email  |</a></li>
        <li><a class="user" href="{% url 'account_logout' %}">Выйти</a></li>
        {% else %}
        <li><a class="user" href="{% url 'account_login' %}">Авторизация</a></li>
        <li><a class="user" href="{% url 'account_signup' %}">Регистрация</a></li>
        {% endif %}
    </ul>
</div>
{%  endblock nav %}

{% block content %}
    {% for category in categories  %}
        <p>
            {{ category.name }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="category_id" value="{{ category.id }}" />

                {% if category.user_subscribed %}
                    <button disabled>Подписаться</button>
                    <button name="action" value="unsubscribe">Отписаться</button>
                {% else %}
                    <button name="action" value="subscribe">Подписаться</button>
                    <button disabled>Отписаться</button>
                {% endif %}
            </form>
        </p>
    {% endfor %}
{% endblock content %}