{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                AnimeNews 
            {% endblock title %}    
        </title>
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <div class="container-nav">
            <div class="logo">
                <a class="text-logo" href="{% url 'HomePage' %}">AnimeNews</a>
            </div>
            <div class="navigation">
                <ul>
                    <li><a class="text-navigation" href="{% url 'CategoryList' %}">Жанр</a></li>
                    <li><a class="text-navigation" href="{% url 'ArticlesList'%}">Статья</a></li>
                    <li><a class="text-navigation" href="{% url 'NewsList'%}">Новость</a></li>
                </ul>
            </div>
            {% block nav %}
                <div class="user-container">
                    <ul>
                        {% if request.user.is_authenticated %}
                        <li><a class="user" href="{% url 'profile' %}">Профиль</a></li>
                        <li><a class="user" href="{% url 'account_logout' %}">Выйти</a></li>
                        {% else %}
                        <li><a class="user" href="{% url 'account_login' %}">Авторизация</a></li>
                        <li><a class="user" href="{% url 'account_signup' %}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock nav %}
        </div>
        <div class="container">
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <div class="footer-container">
            <div class="footer">
                <h1>by AnimeNews</h1>
            </div>
        </div>
    </body>
</html>